.products{
  :global{
    .arrow-btns {
      display: flex;
      justify-content: center;
      margin-top: 40px;
      gap: 25px;
      @media (max-width: 576px) {
        margin-top: 20px;
      }
      .swiper-button {
        width: 45px;
        height: 45px;
        border-radius: 9px;
        border: 1px solid#ed1d24;
        background-color: transparent;
        transition: ease-in-out all .3s;
        [dir="ltr"] & {
          transform: scaleX(-1);
        }
        [data-theme="dark"] & {
          border: 1px solid #444;
          svg {
            filter: brightness(0) invert(1);
          }
        }
        &:hover {
          background-color:#ed1d24;
          svg {
            fill: #fff;
          }
        }
      }
    }
  }
}