.filter {
  :global {
   
    .oneRow {
      * {
        transition: all ease-in-out 0.3s;
      }

      display: flex;
      align-items: center;
      justify-content: space-between;
      span {
        font-family: "Tajawal";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        text-transform: capitalize;
        color: #6c6156;
      }
      .radioCustom {
        opacity: 0;
        position: absolute;
        margin: 0;
      }

      .checkbox-custom,
      .checkbox-custom-label,
      .radioCustom,
      .radioCustomLabel {
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 5px;
        cursor: pointer;
      }

      .radioCustomLabel {
        position: relative;
        font-family: "Tajawal";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        text-align: right;
        color: #6c6156;
      }

      .radioCustom + .radioCustomLabel:before {
        content: "";
        // background: #fff;
        border: none;
        display: inline-block;
        vertical-align: middle;
        width: 23px;
        height: 23px;
        padding: 4px 5px;
        margin-left: 16px;
        position: relative;
      }
      .radioCustom + .radioCustomLabel:before {
        border-radius: 50%;
      }
      .circle {
        width: 23px;
        height: 23px;
        padding: 4px 5px;
        position: absolute;
        right: 0;
        border-radius: 50%;
        border: 1px solid #000;
        [data-theme="dark"] & {
          border: 1px solid #fff;
        }
      }
      .radioCustom:checked + .radioCustomLabel span:before {
        content: "✔";
        font-family: "FontAwesome";
        color: #fff !important;
        font-weight: bolder;
        color: #fff !important;
        font-size: 14px;
      }
      .radioCustom:focus + .radioCustomLabel {
        outline: 0px; /* focus style */
      }
    }
    @media(max-width: 1030px){
        label{

            font-size: 16px !important;
        }
         }
    .range-slider {
       
        margin-top: 50px;
        .slider-track {
          height: 4px;
          width: 100%;
          border-radius: 2px;
          align-self: center;
        }

        .labeles {
          position: absolute;
          top: -36px;
          color: #000;
          font-size: 14px;
         text-align: center;
         width: 42px;
         height: 20px;
          border-radius: 4px;
          background-color: #e9e9e9;
        }
        .thumps {
          height: 20px;
          width: 20px;
          border-radius: 50%;
          background-color: #fff;
          border: 2px solid #A61C00;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
        }
        
        .filter-btn {
            background-color: #a61c00;
            color: #e0e0e0;
            font-size: 16px;
            padding: 0px 15px;
            border-radius: 8px;
            line-height: 36px;
            text-align: center;
            cursor: pointer;
          
      
        }
      }
      width: 100%;
      padding: 20px 0;
    }
   
   

  
}
